.input {
    margin: 0;
    margin-top: 3%;
    color: var(--pallet-hot)
}

.output-string {
    margin: 0;
    color: var(--pallet-neutral);
}

.output-links > span {
    color: var(--pallet-neutral);
}

.output-links > a {
    color: var(--pallet-cool);
}

