.terminal-header {
    border: 1px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
}

.terminal-log > *{
    border: 1px solid var(--pallet-bg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--pallet-bg);
    color: var(--pallet-neutral)
}

