.input {
    margin: 0;
    margin-top: 5%;
}

input > p {
    background-color: var(--pallet-bg);

}

.output-string {
    margin: 0;
    color: var(--pallet-off-neutral);
}

.output-links > span {
    color: var(--pallet-off-neutrall);
}